body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box-red{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.box-red{
    background-color: red;
    transition: background-color 1s ease 3s;
}

.box-red:hover{
    background-color: yellow;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 3s;
}