body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.box-red{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.box-red{
    background-color: red;
    transition-property: all;
    transition-duration: 1s;
}

.box-red:hover{
    background-color: yellow;
    transition-property: background-color, width;
    transition-duration: 2s;
    width: 150px;
}