body{
    align-items: center;
    background: #afd275;
    display: grid;
    grid-column-gap: 3rem;
    grid-template-columns: 200px;
    height: 100vh;
    justify-content: center;
    padding: 1rem;
}   

.element {
    align-items: center;
    background: linear-gradient(-45deg, rgba(0,0,0,0.22),
     rgba(255,255,255,0.25));
    border-radius: 50px;
    display: flex;
    height: 200px;
    justify-content: center;
    width: 100%;
}

.element-1{
    box-shadow: 
         12px 12px 16px 0 rgba(0,0,0,0.25),
        -8px -8px 12px 0 rgba(255,255,255,0.3);
}

.element-2{
    box-shadow: 
        -8px 8px 12px 0 rgba(0,0,0,0.3),
        12px -12px 16px rgba(255,255,255,0.25);
}

.element-3{
    box-shadow: 
        -8px -8px 12px 0 rgba(0,0,0,0.3),
        12px 12px 16px rgba(255,255,255,0.25);
}

.element-4{
    box-shadow: 
        8px -8px 12px 0 rgba(0,0,0,0.3),
        -12px 12px 16px rgba(255,255,255,0.25);
}

@media (min-width: 600px) {
    body{
        grid-template-columns: 200px 200px;
    }
}