body{
    align-items: center;
    background-color: #afd275;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.element{
    align-items: center;
    background-color: #afd275;
    
    box-shadow: 
        12px 12px 12px 0 rgba(0, 0, 0, 0.25),
        -8px -8px 12px 0 rgba(255, 255, 255, .3);
    border-radius: 50px;
    display: flex;
    height: 200px;
    justify-content: center;
    margin-right: 4rem;
    width: 200px;

}