* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-900: #121214;
  --gray-300: #444448;

  --primary-200: #fcd085;
  --primary-400: #ffbc48;
  font-size: 62.5%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  white-space: nowrap;
}

body {
  background-color: #121213;
  font-size: 1.6rem;
}

body * {
  font-family: sans-serif;
}

header {
  text-align: center;
  color: white;

  padding: 3.2rem;

  max-width: 46rem;
  margin: auto;
}

h1 {
  opacity: .9;
}

.input-wrapper {
  position: relative;
}

header input {
  margin-top: 2rem;
  padding: 1rem 1.6rem;
  border-radius: .8rem;

  background-color: #444448;
  border: 0;

  width: 100%;
  color: white;

  font-size: 1.6rem;
}

.input-wrapper i {
  position: absolute;
  right: 1.2rem;
  bottom: 1.2rem;
}

main {
  padding-inline: 3.2rem;
  max-width: 70rem;
  margin: 3.2rem auto;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;

  list-style: none;
}

ul:has(li:hover) li:not(:hover) {
  opacity: .6;
  scale: .98;
}

li {
  flex: 1;
  background-color: var(--gray-300);
  padding: 2.8rem;
  border-radius: .8rem;
  color: white;

  transition: all .2s;
}

li .header {
  display: flex;
  align-items: center;
  gap: .8rem;
}

li i {
  font-size: 2.4rem;

  background-color: var(--primary-400);
  color: var(--gray-900);
  border-radius: 50%;
  padding: .4rem;
}

li h2 {
  opacity: .9;
}

li p {
  margin-top: 1.6rem;
  opacity: .5;
}

li a {
  display: inline-block;
  color: white;
  margin-top: 1.6rem;
  font-weight: bold;
  text-decoration: none;

  transition: color .2s;
}

li a:hover {
  color: var(--primary-200);
}

@media (max-width: 36rem) {
  ul {
    grid-template-columns: 1fr;
  }
}